<div class="header">
<h1>Details</h1>

<div id="comment">

</div>
</div>

<div style="background-color: white;" id="details-bin" class="row">

	<div class="col-md-6">
        <a href="/apply"><button type="button" class="button button1">
  			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Apply Now
		</button></a>
		<h2> Telephone </h2>
		<p> (767)-342-3543</p>

        <h2> Address </h2>
		<p> 2215 Town Lake Circle Apt. 142</p>
        <p> Austin, TX 78741</p>

        <h2> Rent </h2>
        <p>$1,662.00</p> 

        <h2> Size </h2>
        <p> 2141 SqFt </p>
        <hr>
        <h2> Property Type </h2>
        <p> House with garage </p>

        <h2> Beds: 4  |  Bath: 4 </h2>
        <hr>
        <h2> Deposit </h2>
        <p> $1,2000.00 </p>


	</div>

    <div id="rental-details" class="col-md-6">
		<img style=" display: block; margin: auto; width: 80%;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" src="https://scontent.fmkc1-1.fna.fbcdn.net/v/t1.0-9/20767726_10159221434560397_3520340775677831607_n.jpg?oh=35493445648f706d26b33123f6a4ff03&oe=59F01C62">
        <h1> Rental Notes </h1>
        <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec ultrices 
			ex. Donec pharetra viverra orci, in tempus ante mollis sed. Aliquam ac quam nunc. 
			Etiam dignissim tempor turpis nec rutrum. Etiam imperdiet faucibus congue. 
			Donec lacinia purus in neque luctus finibus.</blockquote> 
	</div>

</div>

