
<div class="header">
<h1>Kodus</h1>
<h4> Property Managment App </h4>

<div id="comment">
	This is our app working outline for Kodus Property Managment App. - Chris
</div>
</div>

<div class="row">
	<div id="company-decribe" class="col-md-6">
		<h3>Property Search App that works for property mangers & tenants</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec ultrices 
			ex. Donec pharetra viverra orci, in tempus ante mollis sed. Aliquam ac quam nunc. 
			Etiam dignissim tempor turpis nec rutrum. Etiam imperdiet faucibus congue. 
			Donec lacinia purus in neque luctus finibus.</p>
	</div>
	<div class="col-md-6">
		<img style=" display: block; margin: auto; width: 80%;" src="http://cafeseo.ir/wp-content/uploads/mobile-phones.jpg">
	</div>
</div>