

{{!-- <div id="header" class="header">
<h1>Kodus</h1>
<h4> Property Managment App </h4>
<div id="comment">
	This is our app working outline for Kodus Property Managment App. - Chris
</div>
</div> --}}

<div class="row">
	<div id="company-decribe" class="col-sm-6">
		<h1>Kodus</h1>
		<h4> Property Managment App </h4>
		<hr>
		<h2 style="color: #904bea; font-style: italic;" > Easy. Peezy. Lemon-Squeezy.</h2>
		<h3>Software that works for property mangers & tenants</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec ultrices 
			ex. Donec pharetra viverra orci, in tempus ante mollis sed. Aliquam ac quam nunc. 
			Etiam dignissim tempor turpis nec rutrum. Etiam imperdiet faucibus congue. 
			Donec lacinia purus in neque luctus finibus.</p>
		<br>
	</div>
	<div class="col-sm-6">
		<img style=" display: block; margin: auto; width: 80%;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" src="https://scontent.fmkc1-1.fna.fbcdn.net/v/t1.0-9/20767726_10159221434560397_3520340775677831607_n.jpg?oh=35493445648f706d26b33123f6a4ff03&oe=59F01C62"> 
		{{!-- http://cafeseo.ir/wp-content/uploads/mobile-phones.jpg --}}
		<br>
	</div>
</div>
{{!-- Start 2nd Element --}}
<br>
<div style="background-color: white; padding-top: 20px;"class="row">
	<div id="overview" class="col-sm-6">
		<h3 style="color: #904bea; font-style: italic; text-align: center;" > How It Works . . . </h3>
		<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec ultrices 
			ex. Donec pharetra viverra orci, in tempus ante mollis sed. Aliquam ac quam nunc. 
			Etiam dignissim tempor turpis nec rutrum. Etiam imperdiet faucibus congue. 
			Donec lacinia purus in neque luctus finibus.</blockquote>
	</div>
	<div class="col-sm-6">
		<h3 style="text-align: center;"> Details </h3>
		<hr>
		<ul>
			<li> User Authenticated </li>
			<li> Search For Rentals </li>
			<li> Browse Listing Posts </li>
			<li> Galleries of Info of Rentals </li>
			<li> Apply for Leases </li>
			<li> Maintence Requests </li>
		</ul>
	</div>
</div>
{{!-- End 2nd Element --}}
<br>
<div style="background-color: white; padding-top: 20px;"class="row">
	<div id="overview" class="col-sm-6">
		<img style=" display: block; margin: auto; width: 80%;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" src="http://cafeseo.ir/wp-content/uploads/mobile-phones.jpg"> 
		<br>
	</div>
	<div class="col-sm-6">
		<h3 style="text-align: center;"> Kodus Makes Life Simple </h3>
		<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec ultrices 
			ex. Donec pharetra viverra orci, in tempus ante mollis sed. Aliquam ac quam nunc. 
			Etiam dignissim tempor turpis nec rutrum.</blockquote>
	</div>
</div>