<div class="header">
<h1>Thank You For Applying with Kodus!</h1>

<div id="comment">
	Thank you for applying! We will be getting in touch with you very soon. We look forward to renting with you!
    <br>
    <a href="/">< Back To Home Page > </a>
</div>
</div>


